.footer{
    position:static;
    bottom: 0px;
    width:-webkit-fill-available;
    min-height: 10vh;
}

.foto-container{
    height: 800px; /* Cambia el valor a la altura deseada en píxeles o porcentaje */
    width:100%;
    background-color: #03031b;
}

.foto-perfil{
    height: 100%;
    object-fit: contain;  
    padding-left: 5%;
    padding-top: 2%;
}

.carrusel-container{
    padding:5% 1% 1% 1%;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}

.pulsacion {
    /* Establece la transición para suavizar la animación */
    transition: transform 0.2s ease-in-out;
  }
  
  /* Aplica la animación cuando el puntero pasa por encima */
  .pulsacion:hover {
    /* Escala la imagen ligeramente */
    transform: scale(1.2);
  }
  .custom-navbar{
    height: 10vh;
  }