.custom-body {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(55, 74, 119, 1) 31%, rgba(225, 225, 247, 1) 100%);
  /* background-image: url(/img/fondo.jpg); */
}

.footer {
  position:static;
  margin-top: auto;
  bottom: 0;    
  width: 100%;
  min-height: 10vh;
}

.foto-container {
  height: 90vh;
  /* Cambia el valor a la altura deseada en píxeles o porcentaje */
}

.foto-perfil {
  margin-left: 50%;
  height: 90vh;
  object-fit: contain;
  justify-content: center;
}

.color-contenido{
  background: rgba(225,225,247,1)
}

.pulsacion {
  /* Establece la transición para suavizar la animación */
  transition: transform 0.2s ease-in-out;
}

/* Aplica la animación cuando el puntero pasa por encima */
.pulsacion:hover {
  /* Escala la imagen ligeramente */
  transform: scale(1.2);
}

.custom-navbar {
  height: 10vh;
  background: rgb(2, 0, 36);
}

.main-content {
  margin-top: 10vh;
  height: 100%;
  min-height: 100%;
}

.about {
  margin-top: 15vh;
}

@media (max-width: 768px) {
  .custom-navbar {
    height: 15vh;
  }

  .nav-text {
    font-size: xx-large;
  }

  .main-content {
    margin-top: 15vh;
    height: 100%;
    min-height: 100%;
  }

  .foto-perfil {
    margin-left: 50%;
    height: 50vh;
    object-fit: contain;
    justify-content: center;
  }

  .foto-container {
    height: 40vh;
    /* Cambia el valor a la altura deseada en píxeles o porcentaje */
  }
    
}

@media (max-width: 595px) {
  .custom-navbar {
    height: 15vh;
  }

  .nav-text {
    font-size: xx-large;
  }

  .main-content {
    margin-top: 15vh;
    height: 100%;
    min-height: 100%;
  }

  .foto-perfil {    
    margin-left: 0%;
    object-fit: contain;
    justify-content: center;
  }
  .about {
    margin-top: 25vh !important;
  }
  
  .carrusel{
    margin-top: 5vh !important;
  }
}

@media (max-width: 480px) {
  .custom-navbar {
    height: 15vh;
  }

  .nav-text {
    font-size: xx-large;
  }

  .main-content {
    margin-top: 15vh;
    height: 100%;
    min-height: 100%;
  }

  .foto-perfil {
    margin-left: 0%;
    object-fit: contain;
    justify-content: center;
  }
  .about {
    margin-top: 25vh !important;
  }
  
  .carrusel{
    margin-top: 5vh !important;
  }
}