portfolioApp/vendor/
portfolioApp/node_modules/
portfolioApp/npm-debug.log
portfolioApp/yarn-error.log

# Laravel 4 specific
portfolioApp/bootstrap/compiled.php
portfolioApp/app/storage/

# Laravel 5 & Lumen specific
portfolioApp/public/storage
portfolioApp/public/hot

# Laravel 5 & Lumen specific with changed public path
portfolioApp/public_html/storage
portfolioApp/public_html/hot

portfolioApp/storage/*.key
portfolioApp/.env
portfolioApp/Homestead.yaml
portfolioApp/Homestead.json
portfolioApp/.vagrant
portfolioApp/.phpunit.result.cache
